<h1><%= @profile.name %></h1>
    <p>Birthdate: <%= @profile.birthdate %></p>
    <p>Astrological Zodiac Sign: <%= @profile.azodiac %></p>
    <p>Chinese Zodiac Sign: <%= @profile.czodiac %></p>
    <p>Life Path Number: <%= @profile.lifepathnumber %></p>
    <p>Birthstone: <%= @profile.birthstone %></p>
    <p>Lucky Flower: <%= @profile.luckyflower %></p>
    <p>Recomended Tea: <%= @profile.tea %></p>

    <%= link_to "Edit", edit_profile_path(@profile) %>