<h1><%= @profile.name %></h1>
    <p>Birthdate: <%= birthdate %></p>
    <p>Astrological Zodiac Sign: <%=azodiac%></p>
    <p>Chinese Zodiac Sign: <%=czodiac%></p>
    <p>Life Path Number: <%=lifepathnumber%></p>
    <p>Birthstone: <%=birthstone%></p>
    <p>Lucky Flower: <%=luckyflower%></p>
    <p>Recomended Tea: <%=tea%></p>