<!DOCTYPE html>
<html>
  <head>
    <title>GetToKnowMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <ul> 
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Profile List", profiles_path) %></li>
        <li><%= link_to("New Profile", new_profile_path) %></li>
      </ul>
    </nav>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <p><%= error %></p>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
